
    <div class="page_menu">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="page_menu_content">
                        <ul class="page_menu_nav">
                            <li class="page_menu_item"><a href="/index.html"><i class="fa fa-angle-down"></i>Trang chủ</a></li>
                            <li class="page_menu_item"><a href="/page.html?alias=about"><i class="fa fa-angle-down"></i>Giới thiệu</a></li>
                            <li class="page_menu_item"><a href="/contact.html"><i class="fa fa-angle-down"></i>Liên hệ</a></li>
                            <li class="page_menu_item"><a href="/page.html?alias=policy"><i class="fa fa-angle-down"></i>Chính sách</a></li>
                            <li class="page_menu_item"><a href="/page.html?alias=payment"><i class="fa fa-angle-down"></i>Thanh toán</a></li>
                            <li class="page_menu_item"><a href="/blog.html"><i class="fa fa-angle-down"></i>Tin tức</a></li>
                        </ul>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>