@using TeduCoreApp.Data.ViewModels.Page
@{
    ViewData["Title"] = Model.Name;
    ViewData["MetaDescription"] = Model.Name;
    ViewData["MetaKeyword"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PageViewModel
<head>
    <link rel="stylesheet" type="text/css" href="~/client-side/styles/regular_styles.css">
    <link rel="stylesheet" type="text/css" href="~/client-side/styles/regular_responsive.css">
</head>
@section Scripts{
    <script src="~/client-side/js/custom.js"></script>
}

<div class="single_post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">

                <div class="single_post_text imageReponsiteContent">
                    @Html.Raw(Model.Content)
                </div>
               
            </div>
        </div>
    </div>
</div>
